<div class="grid">
  <div class="grid__item hero">
    <div class="hero__cta">
      <h1>shop all wines</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
      <p><i>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</i></p>
    </div>
  </div>
</div>
