<div class="grid">
  <div class="grid__item hero">
    <div class="hero__cta">
      <h1 class="collection__hero__cta">shop all wines</h1>
      <p>Enjoy a selection of fine wines, curated with love and care by Jamie Deen. Perfect for every day, every occasion and every dish.</p>
      <p><i>And, if you subscribe you can save up to 20% on your order.</i></p>
    </div>
  </div>
</div>
