<h3>CARAMELIZED PORK LOIN</h3>

<h4>Ingredients</h5>


<ul>
  <li>1 stick butter</li>
  <li>1/4 cup brown sugar, packed</li>
  <li>3 Granny Smith apples, peeled, cored and 1-inch diced</li>
  <li>1 (5 lb) center cut bone-in pork loin, butterflied</li>
  <li>2 tablespoons vegetable oil</li>
  <li>1/2 cup apple cider</li>
</ul>

<h4>Preparation</h4>

<p>Preheat oven to 375°.</p>

<p>Melt the butter in a large skillet over medium-high heat. Add the brown sugar, cinnamon and diced apples and toss to coat. Sauté 3 minutes, without stirring to let the apples caramelize on 1 side. Toss and sauté another 3 minutes. Remove from the heat and cool completely.</p>

<p>Butterfly the tenderloin by cutting lengthwise down the center to within 1/2-inch of the other side. Flatten with a meat mallet.</p>

<p>When the caramel apples have cooled spread the mixture down the center flap of pork. Sprinkle with salt and pepper, to taste. Spoon the apple mixture down the center of the pork roast. Bring the 2 sides of the tenderloin up around filling to meet. Use butcher string and tie around the roll at 1-inch intervals.</p>

<p>Season the stuffed and tied pork loin with salt and pepper. Sear the pork loin in vegetable oil in a large Dutch oven over medium-high heat, turning to get all the sides. Pour the apple cider over the pork. Roast uncovered for about 1 hour and 20 minutes or until an instant-read thermometer inserted into the center of the roast registers 155°.</p>

<p>Remove from the oven and let rest, tented with foil, for 15 minutes before slicing. Serve with pan juices.</p>
