<!-- /templates/customers/account.liquid -->
{% comment %}

  For all available customer liquid tags:
    - http://docs.shopify.com/themes/liquid-variables/customer

{% endcomment %}

<h1>{{ 'customer.account.title' | t }}</h1>

<hr class="hr--small">

<div class="grid">

  <div class="grid__item one-quarter medium-down--one-whole">
    {% include 'account-nav' %}
  </div>

  <div class="grid__item three-quarters medium-down--one-whole">
    club caves
  </div>

</div>
