// customers/account.*.liquid
// customers/addresses.liquid

.template-customers-account,
.template-customers-addresses
{
  @include page-paddings;
  h1 {
    font-size: 38px;
    letter-spacing: 0;
  }
  hr {
    margin-top: 0;
  }
  // scoped nav bar styling
  .nav-bar {
    position: absolute;
    background-color: $brown !important;
  }
  .account-nav {
    border: 1px solid $grey;
    padding: 24px 42px;
    h2 {
      font-size: 38px;
      margin-top: $space-lg;
    }
    h3 {
      font-size: 20px;
      font-family: 'Whitenights-bold';
      margin: $space-md 0;
    }
    #customer_logout_link {
      @include link--brown;
    }
    ul.account-menu {
      @include list-no-style;
      li {
        @include link-style($brown);
        font-size: 20px;
        line-height: 1.2;
        text-transform: uppercase;
        font-family: 'Whitenights';
        margin: $space-lg 0;
        letter-spacing: 0.15em;
      }
    }
  }
}
