// collection.liquid

.template-list-collections,
.template-collection 
{
  .main-content {
    @include hero-clipped("{{ 'hero-2.jpg' | asset_url }}");
    .hero__cta {
      @include content-width(1092px);
      margin-top: 2*$space-xl;
      p {
        max-width: 600px;
        color: $white;
      }
    }
    .shop-all {
      @include content-width(1092px);
      padding: $space-lg $space-md;
      @include breakpoint-up(lg) {
        padding: 0;
        padding-bottom: 2*$space-xl;
      }
      .section-header {
        margin-top: $space-lg;
        @include breakpoint-up(lg) {
          margin-top: $space-xl;
        }
        a {
          @include link-style($brown);
        }
        h2 {
          font-size: 24px;
        }
        hr {
          margin-top: 0;
        }
      }
      .grid__item {
        text-align: center;
      }
    }
  }
}
