.template-404 {
  @include page-paddings;
  // scoped nav bar styling
  @include static-top-nav($grey);
  @include bg-img("{{ 'bg-hills.jpg' | asset_url }}");
  .main-content {
    p {
      font-size: 24px;
      margin-bottom: $space-xl;
    }
    .hr {
      margin: $space-lg auto;
      width: 50%;
    }
  }
}
