// index.liquid

.template-index {
  .hero {
    height: 550px;
    &.hero--top {
      @include hero--mobile-overlay;
      height: 650px;
      background-image: url("{{ 'hero.jpg' | asset_url }}");
      padding-right: 40px;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
      .hero__cta {
        margin-bottom: 200px;
        height: 600px;
        display: flex;
        flex-flow: column;
        align-items: flex-end;
      justify-content: center;
        p {
          max-width: 550px;
          text-align: right;
          margin-bottom: 65px;
        }
      }
      // Test
      @include breakpoint-down(md) {
          height: 550px;
          .hero__cta {
          margin-bottom: 100px;
          align-items: center;
          padding-left: 10px;
          height:550px;
          p {
            max-width: 600px;
            text-align: center;
            margin-bottom: 30px;
          }
        }
      }
      @include breakpoint-down(sm) {
          background-position: -150px 0px;
          height:550px;
      }
    }
    &.hero--middle {
      @include hero--mobile-overlay;
      background-image: url("{{ 'hero-2.jpg' | asset_url }}");
    }
    &.hero--bottom {
      background-image: url("{{ 'hero-3.jpg' | asset_url }}");
      margin-bottom: 0;
    }
    .hero__cta .icon--fleur {
      margin-bottom: 20px;
    }
    .hero__cta p {
      max-width: 800px;
      text-align: center;
      margin: 30px 0 50px;
    }
    .hero__cta .hero__title {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @include breakpoint-down(md) {
      .hero--cta {
        padding: 0 30px 0 60px;
        p {
          max-width: 600px;
        }
        h2 {
          text-align: center;
        }
        .hero__title {
          align-items: center;
        }
        .icon--fleur {
          width: 60px;
        }
      }
    }
  }
  .main-content {
    > .grid:not(:first-of-type):not(:last-of-type) {
      margin: $space-lg 0;
    }
  }
}
