// product.liquid

.template-product
{
  @include body-padding;
  .main-content {
    @include content-padding;
    .breadcrumb {
      margin-top: 0;
    }
    h2 {
      margin-top: $space-md;
    }
    #AddToCartForm {
      .js-qty {
        display: none;
      }
    }
    .product-tabs {
      a {
        @include link-style($brown);
        &.active {
          border-bottom: 1px solid rgba($brown,0.5);
        }
      }
    }
    .product-description {
      color: $brown;
    }
    .product-description__footer {
      padding: 0;
      p {
        margin: 12px 0;
      }
      .icon--pineapple {
        margin: 0;
      }
    }
  }
}
