// mixins
@mixin link--brown {
  color: $brown;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

// classes
.link--brown {
  @include link--brown;
}

.ops__logo {
  width: 42px;
}

.hr {
  height: 8px;
  width: 100%;
  background-repeat: repeat-x;
}

.hr-black {
  background-image: url("{{ 'seperator-black.png' | asset_url }}");
}

.hr-brown {
  background-image: url("{{ 'seperator-brown.svg' | asset_url }}");
}
