// mixins
@mixin link--brown {
  color: $brown;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

// classes
.link--brown {
  @include link--brown;
}

.ops__logo {
  width: 42px;
}
