// utility
@mixin link-style($color, $decor:none) {
  a, & {
    color: $color;
    &:hover,&:active,&:focus {
      text-decoration: $decor;
    }
  }
}

@mixin list-no-style {
  padding: 0;
  margin: 0;
  list-style: none;
}


// layout helpers
@mixin static-top-nav($color) {
  .nav-bar {
    background-color: $color !important;
    position: static;
  }
}

@mixin page-paddings {
  .main-content {
    padding: $space-xl 0;
  }
}
