// utility
@mixin link-style($color, $decor:none) {
  a, & {
    color: $color;
    &:hover,&:active,&:focus {
      text-decoration: $decor;
    }
  }
}

@mixin list-no-style {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin bg-img($url, $size: cover, $posX: center, $posY: center, $repeat: no-repeat) {
  background: url($url) $posX $posY $repeat;
  background-size: $size;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// layout and styling helpers
@mixin static-top-nav($color) {
  .nav-bar {
    background-color: $color !important;
    position: static;
    width: 100%;
  }
}

@mixin page-paddings {
  .main-content {
    padding: $space-xl 0;
  }
}

@mixin account-content-styles {
  padding: 42px;
  background-color: $white;
  @media (min-width: 1092px) {
    margin-left: $space-xl;
  }
}
