// utility
@mixin link-style($color, $decor:none) {
  &,&:hover,&:active,&:focus {
    color: $color;
    text-decoration: $decor;
    background-color: transparent;
    outline: none;
  }
}

@mixin list-no-style {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin bg-img($url, $size: cover, $posX: center, $posY: center, $repeat: no-repeat) {
  background: url($url) $posX $posY $repeat;
  background-size: $size;
}

@mixin content-width($width) {
  max-width: $width;
  margin: 0 auto;
}

@mixin block-fill {
  display: block;
  height: 100%;
  width: 100%;
}

@mixin absolute-center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// theme

@mixin link--brown {
  color: $brown;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

@mixin hr--black {
  background-image: url("{{ 'separator-black.png' | asset_url }}");
}

@mixin hr--brown {
  background-image: url("{{ 'separator-brown.svg' | asset_url }}");
}

// fancy corners
@mixin corner-top-left($size) {
  background-image: url("{{ 'fancy-corner.png' | asset_url }}");
  position: absolute;
  display: block;
  height: $size;
  width: $size;
  background-size: $size;
  left: -($size/8);
  top: -($size/8);
}

@mixin corner-top-right($size) {
  background-image: url("{{ 'fancy-corner.png' | asset_url }}");
  position: absolute;
  display: block;
  height: $size;
  width: $size;
  background-size: $size;
  top: -($size/8);
  right: -($size/8);
  transform: rotate(90deg);
}

@mixin corner-bot-left($size) {
  background-image: url("{{ 'fancy-corner.png' | asset_url }}");
  position: absolute;
  display: block;
  height: $size;
  width: $size;
  background-size: $size;
  left: -($size/8);
  bottom: -($size/8);
  transform: rotate(-90deg);
}

@mixin corner-bot-right($size) {
  background-image: url("{{ 'fancy-corner.png' | asset_url }}");
  position: absolute;
  display: block;
  height: $size;
  width: $size;
  background-size: $size;
  right: -($size/8);
  bottom: -($size/8);
  transform: rotate(180deg);
}

@mixin fancy-corners($size) {
  position: relative;
  .corner-top-left {
    @include corner-top-left($size);
  }
  .corner-top-right {
    @include corner-top-right($size);
  }
  .corner-bot-left {
    @include corner-bot-left($size);
  }
  .corner-bot-right {
    @include corner-bot-right($size);
  }
}

@mixin body-padding {
  padding-top: 51px;
  @include breakpoint-up(lg) {
    padding-top: 80px;
  }
}

@mixin content-padding {
  padding: $space-lg $space-md;
  @include breakpoint-up(lg) {
    padding: $space-xl $space-md;
  }
}

@mixin account-content-styles {
  padding: 42px;
  background-color: $white;
  @media (min-width: 1092px) {
    margin-left: $space-xl;
  }
}

@mixin drawer-styles {
  width: 100%;
  padding: 0;
  background-color: rgba($black,0.9);
  border: none;
  color: $white;
  font-family: 'Whitenights';
  z-index: 1000;
  @include breakpoint-up(lg) {
    width: 500px;
  }
  .drawer__header {
    position: relative;
    .drawer__close {
      position: absolute;
      padding: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      right: $space-lg;
      width: $space-lg;
      height: $space-lg;
      button {
        &, span.icon, span.icon::before {
          padding: 0;
          @include block-fill;
          @include absolute-center;
        }
        &:active {
          background-color: transparent;
        }
      }
    }
  }
}

@mixin hero-clipped($bg-url) {
  .hero {
    @include bg-img($bg-url);
    height: 450px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    margin-top: 0;
  }
}
