// colors
$black: #000000;
$white: #ffffff;
$brown: #8b683e;
$light-grey: #888888;
$grey: #666666;
$dark-grey: #333333;
$burgundy: #7c0e29;

// space
$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 32px;
$space-xl: 64px;
$top-nav-height: 80px;
