$brown: #8b683e;
$grey: #666;
$white: #fff;

@font-face {
  font-family: 'Avenir-Black';
  src: url({{ 'Avenir-Black.woff2' | asset_url }}) format('woff2'),
       url({{ 'Avenir-Black.woff' | asset_url }}) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Whitenights';
  src: url({{ 'WhitenightsLTStd-Regular.woff' | asset_url }}) format('woff'),
       url({{ 'Whitenights-LT-Std_48829.woff2' | asset_url }}) format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Whitenights-Titling';
  src: url({{ 'Whitenights-LT-Std-Titling_48828.woff2' | asset_url }}) format('woff2'),
       url({{ 'WhitenightsLTStd-Titling.woff' | asset_url }}) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Whitenights-Bold';
  src: url({{ 'Whitenights-LT-Std-Bold_48825.ttf' | asset_url }}) format('woff');
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}


h1 {
  font-family: "whitenights-Titling";
  font-size: 29px;
  font-weight: bold;
}

h2 {
  font-family: "Whitenights-Bold";
  font-size: 56px;
  letter-spacing: 0.05em;
}

h3 {
  font-family: "Whitenights-Bold";
  font-size: 33px;
  letter-spacing: 0.03em;
}

h4 {
  font-family: "Freight Bold";
  font-size: 28px;
  letter-spacing: 0.01em;
}

h5 {
  font-family: "Freight Book";
  font-size: 32px;
  letter-spacing: 0.01em;
}

h6 {
  font-family: "Whitenights";
  font-size: 24px;
  letter-spacing: 0.07em;
}

p {
  font-family: "Freight Book";
  font-size: 24px;
  letter-spacing: 0.01em;
}

.product__type {
  font-family: "Avenir";
  font-size: 13px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: $brown
}

.product__location {
  font-family: "Freight Book Italic";
  font-size: 20px;
  letter-spacing: 0.01em;
}

.product__price {
  font-family: "Freight Bold";
  font-size: 22px;
  letter-spacing: 0.01em;
}

.btn__cta {
  border: 1px solid #fff;
  font-family: "Whitenights";
  font-size: 23px;
  text-transform: uppercase;
  letter-spacing: 0.23em;
  border-radius: 5px;
}

.btn__subscribe, .btn__buy {
  font-family: "Avenir";
  font-size: 14px;
  letter-spacing: 0.31em;
  border-radius: 3px;
  width: 225px;
}

.btn__subscribe {
  color: $grey;
  border: 1px solid $grey;
}

.btn__buy {
  background-color: $brown;
  color: $white;
}

.hero {
    background-size: cover;
}


.hero--top {
  background: url({{ 'hero.jpg' | asset_url }});
}

.hero--middle {
  background: url({{ 'hero-2.jpg' | asset_url }});
}

.hero--bottom {
  background: url({{ 'hero-3.jpg' | asset_url }});
}

.icon {
  width: 32px;
}

.icon--pineapple {
  width: 25px;
}

.icon--fleur {
  width: 70px;
}

.icon--leaves {
  width: 40px;
}

.icon--separator-lg {
  width: 225px;
}

.icon--separator-sm {
  width: 150px;
}

.icon--leaf {
  width: 160px;
}
