.site-footer {
  background-color: $dark-grey;
  color: $white;
  h4, p, li {
    font-family: 'Whitenights';
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: $space-md;
  }
  h4 {
    margin-bottom: $space-lg;
    text-align: right;
  }
  .footer-nav {
    @include list-no-style;
    text-transform: uppercase;
    text-align: center;
    li a {
      @include link-style($white);
    }
  }
  .footer-contact {
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 3*$space-md;
  }

  // newsletter form
  #contact_form {
    input {
      font-family: 'Whitenights';
    }
    #subscribe {
      background-color: $burgundy;
    }
  }

  .copyright {
    text-transform: capitalize;
    text-align: left;
    .uppercase {
      text-transform: uppercase;
    }
  }
}
