// mobile nav
#NavDrawer {
  @include drawer-styles;
  .mobile-nav {
    text-transform: capitalize;
    .mobile-nav__item {
      background-color: transparent;
      padding: $space-md $space-lg;
      a {
        @include link-style($white);
        font-size: 20px;
        padding: 0;
      }
    }
  }
}


// desktop nav
#nav.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  background-color: $grey;
  padding: 0 30px;
  transition: 200ms ease-out;
  h1 {
    letter-spacing: 0.17em;
  }
  ul.site-nav {
    display: inline-flex;
    .site-nav__link {
      color: $white;
      font-family: "Whitenights";
      font-size: 14px;
      letter-spacing: 0.25em;
      padding: 15px 10px 5px;
      text-transform: uppercase;
    }
    a.site-header__cart-toggle {
      height: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      .icon-cart {
        position: relative;
        width: 32px;
        height: 32px;
        &:before {
          @include block-fill;
          @include absolute-center;
        }
      }
      #CartCount {
        color: $white;
        margin-left: $space-sm;
      }
    }
  }
}
