<!-- /templates/collection.liquid -->

{% include 'collections-hero' %}

<div class="shop-all">
{% paginate collection.products by 12 %}
  {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

  {% include 'collection-products' %}
  
{% if paginate.pages > 1 %}
<hr>
<div class="pagination">
  {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
</div>
{% endif %}

{% endpaginate %}
</div>
