<!-- /templates/collection.liquid -->

{% include 'collections-hero' %}

<div class="shop-all">
{% paginate collection.products by 12 %}

  {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}
  <div class="section-header">
    <h2>{{ collection_title }}</h2>
    <hr>
  </div>

  <div class="grid">
    {% for product in collection.products limit:3 %}
      {% assign grid_item_width = 'large--one-third' %}
        {% include 'product-grid-item' %}
    {% endfor %}
  </div>

{% if paginate.pages > 1 %}
<hr>
<div class="pagination">
  {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
</div>
{% endif %}

{% endpaginate %}
</div>
