{{ content_for_index }}
<section class="hero">
  <div class="hero__inner">
    <div class="hero__copy">
      <h1>exclusive artisan wines from around the world</h1>
      <img src="" alt="Todd English Uncorked">
      <h2>Savor every moment with premium wines curated by award&dash;winning, world&dash;renowned chef, Todd English</h2>
      <button class="btn-cta">get uncorked</button>
    </div>
  </div>
</section>
<section class="levels">
  <div class="level">
    <img src="" alt="taster">
    <img src="" alt="bottles">
    <h1>3 bottles</h1>
    <p>&sol;per month</p>
    <p>Perfect every day wines to share with family and friends. Todd specially selects these beauties for excellent quality and real character.</p>
    <p>$48 &sol;month<br /> first month 50&percnt; off</p>
    <button class="btn-cta">get started</button>
  </div>
  <div class="level">
    <div class="level__header">
      <h1>&lbrace; magnificent &rbrace;</h1>
    </div>
    <img src="" alt="enthusiast" />
    <p>Todd's favorites. These perfectly balanced gems reveal layers of flavor with every sip. Excellent for dinner parties and impressive as gifts.</p>
    <p>$72&sol;minth ($135 value) + free shipping</p>
    <p>1st month only $36</p>
    <button class="btn-cta">get started</button>
  </div>
  <div class="level">
    <img src="" alt="vintner">
    <img src="" alt="bottles">
    <img src="" alt="bottles">
    <img src="" alt="bottles">
    <h1>9 bottles</h1>
    <p>&sol;per month</p>
    <p>Wines of intriguing complexity for special occasions or well&dash;earned indulgence. Todd's most notable discoveries. The best of the best.</p>
    <p>$96&sol;month ($360 value)</p>
    <button class="btn-cta">get started</button>
  </div>
</section>
<section class="value-props">
  <div class="value-prop">
    <h1>raise your glass</h1>
    <h2>crazy good wine</h2>
    <p>Benefit for Todd's long-time relationships in the wine world for insider access to special bottlings, small batchesand linited production vintages.</p>
    <button class="btn-cta">get started</button>
    <img src="" alt="wine bottles and red rings">
  </div>
  <div class="value-prop">
    <img src="" alt="wine grapes and cheese">
    <h1>you'll love the</h1>
    <h2>exclusive limited releases</h2>
    <p>unlike many clubs out there, we don't repaclage bulk wines with a snaxxy label &mdash; subscribers only receive authentic artisanal and handcrafted wines.</p>
    <button class="btn-cta">get started</button>
  </div>
  <div class="value-prop">
    <h1>expand your horizons</h1>
    <h2>broaden your knowledge</h2>
    <p>Develop a connoisseur's palate as you discover the stories behind the wine, food pairings, and special recipes developed by Chef Todd himself.</p>
  </div>
</section>

<section class="full-bleed">
  <h1>exclusively for you</h1>
  <h2>from Todd with love.</h2>
  <p>Todd connects with his winemaker and sommelier friends to curate the monthly selections of food-friendly wines sourced from small, family-run wineries and boutique estates around the world.</p>
  <button class="btn-cta">get started</button>
</section>

<section>
  <h1>how it works</h1>

  <h2>the wine</h2>
  <h3>sourcing</h3>
  <p>Todd's network of friends search the globe for exclusive, artisan wines from small, family run wineries and boutique estates that Todd will love &mdash; and that will be worthy of Todd English Uncorked.</p>
  <h3>curating</h3>
  <p>Todd selects a collection of Reds and Whites for the monthly deliveries, with Ros&egrave; and Sparkling wines befitting the season, and the occasional Fortified or Dessert wines just for fun.</p>

  <h2>the subscription</h2>
  <p>Choose your subscription: Tasterm Enthusiast or Vinter</p>
  <p>Would you like to receive 3, 6, or 12 bottles each month?</p>
  <p>Todd recomends his mixed collection, but you can choose all red or all white.</p>
  <p>We realize that s your palate ecolves you may want to change things up a bit. Have no fear; it's easy to modify your subscription options.</p>

  <h2>receive</h2>
  <p>After you subscribe, you will receive a complimentary Todd English Uncorked Wine Journal to hold the winemaker's notes and Todd's specially developed recipes. Following that, your first shipment of wines will be delivered directly to your doorstep accompanied by comprehensive tasting notes and food pairing suggestions</p>

  <h2>Enjoy</h2>
  <p>savor every moment with exclusive, artisan, and food friendly wines curated by Todd English hinself. Expand your knowledge with comprehensive tasting, foodpairing and winemaker notes. Expand your horizons &mdash; and your palate &mdash; with Todd English Uncorked.</p>
</section>

<section>
  <h1>exclusively for you</h1>
  <h2>wines of the world</h2>
  <p>Enjoy hand-slected wines from the best-known appellations as well as regions considered best-kept secrets. All Todd English Uncorked wines reflect the small, singular places where they're grown. </p>
  <button class="btn-cta">get started</button>
</section>
