<!-- /templates/list-collections.liquid -->

{% include 'collections-hero' %}

{% comment %}
  Loop through each collection, except 'frontpage'
{% endcomment %}

<div class="shop-all">
{% for collection in collections %}

  {% unless collection.handle == 'frontpage' %}
    {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

    {% include 'collection-products' %}

  {% endunless %}

{% endfor %}
</div>
