<!-- /templates/list-collections.liquid -->

{% include 'collections-hero' %}

{% comment %}
  Loop through each collection, except 'frontpage'
{% endcomment %}

<div class="shop-all">
{% for collection in collections %}

  {% unless collection.handle == 'frontpage' %}
    {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}
    <div class="section-header">
      <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}">
        <h2>{{ collection_title }}</h2>
      </a>
      <hr>
    </div>

    <div class="grid">
      {% for product in collection.products limit:3 %}
        {% assign grid_item_width = 'large--one-third' %}
          {% include 'product-grid-item' %}
      {% endfor %}
    </div>

  {% endunless %}

{% endfor %}
</div>
