<!-- /templates/page.liquid -->

<div class="how-it-works">
  <div class="grid">
    <div class="grid__item hero">
      <div class="hero__cta">
        <h1>{{ page.title }}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>

  <!-- search -->
  <div class="grid search">
    <div class="grid__item one-whole large--one-half">
      <img src="http://placehold.it/600x300" />
    </div>
    <div class="grid__item one-whole large--one-half">
      <h2>We Search</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>

  <!-- curate -->
  <div class="grid curate">
    <div class="grid__item one-whole large--one-half">
      <h2>We Curate</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="grid__item one-whole large--one-half">
      <img src="http://placehold.it/600x300" />
    </div>
  </div>

  <!-- receive -->
  <div class="grid receive">
    <div class="grid__item one-whole large--one-half">
      <img src="http://placehold.it/600x300" />
    </div>

    <div class="grid__item one-whole large--one-half">
      <h2>You Receive</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>

  <!-- enjoy -->
  <div class="grid enjoy">
    <div class="grid__item one-whole large--one-half">
      <h2>You Enjoy</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="grid__item one-whole large--one-half">
      <img src="http://placehold.it/600x300" />
    </div>
  </div>

  <!-- map -->
  <div class="grid where-we-ship">
    <div class="grid__item one-whole">
      <img class="leaf" src="{{ 'leaf.svg' | asset_url }}" />
      <p>find your state</p>
      <div class="hr"></div>
      <h2>Where we ship</h2>
      <img class="map" src="http://placehold.it/800x400" />
      <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <a href="#" class="btn__cta">Get Cookin'</a>
    </div>
  </div>
</div>
